Make Prediction through the trained model

In [ ]:
#now importing library

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb 
from sklearn.preprocessing import OneHotEncoder , LabelEncoder
import pickle

In [3]:
# now import all pickle file which we need to to standardscaler and onehotencoder , labelEncoder
with open('label_encoder_gender.pkl', 'rb') as file:
    label_gender_encoder=pickle.load(file)

# now one_hot 
with open('one_hot_encoder_geo.pkl' ,'rb') as file:
    one_hot_encoder=pickle.load(file)
    
# now starndardization
with open('Standard_data.pkl' ,'rb') as file:
    standard_data= pickle.load(file)

In [9]:
# now load the model
from tensorflow.keras.models import load_model
model=load_model('ann_model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [20]:
# Input data 
input_data=[{
    "CreditScore": 528,
    "Geography": "Germany",
    "Gender": "Male",
    "Age": 31,
    "Tenure": 6,
    "Balance": 0.00,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 0,
    "EstimatedSalary": 80181.12
  }]

In [23]:
# Since our model need only numerical value so, we need to first convert the input value into teh numerical form 
# first convert the gender to its numerical value
# since input data is a dictionary then first we have also convert it into dataframe
input_data_df=pd.DataFrame(input_data)
input_data_df.head()

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          528   Germany   Male  ...          1               0         80181.12

[1 rows x 10 columns]

In [27]:
# now changes
input_data_df['Gender']=label_gender_encoder.transform([input_data_df['Gender']])

d:\ANN_Classification\first_ann_model\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [28]:
input_data_df.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          528   Germany       1  ...          1               0         80181.12

[1 rows x 10 columns]

In [38]:
# now change the Geography part to the numerical by one hot encoder
one_hot_encoded=one_hot_encoder.transform(input_data_df[['Geography']]).toarray()
geo_columns=one_hot_encoder.get_feature_names_out(['Geography'])

In [39]:
# now create a dataframe 
geo_dataframe=pd.DataFrame(one_hot_encoded ,columns=geo_columns)

In [40]:
geo_dataframe.head()

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [ ]:
# now add this to the the main input dataframe